.container {
  max-width: 1170px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  background-color: #273c75;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

.button-o {
  background-color: #fff;
  padding: 10px;
  border: #6f87f3 solid;
  color: #111;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 5px;
  cursor: pointer;
}

.button-o:hover {
  background-color: #6f87f3;
  color: #fff;
}

.bg-fixed {
  position: fixed;
  z-index: -2;
  background: linear-gradient(95deg, rgba(0, 0, 0, 0.7) 30%, rgba(39, 60, 117, 0.01) 100%), url(../images/bg-fixed.jpg) no-repeat center/cover;
  height: 99vh;
  width: 100%;
}

.header {
  height: 100vh;
}

.header-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
}

.header-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f6fa;
  padding: 0 15px;
  -webkit-box-shadow: 0 2px 15px rgba(128, 119, 218, 0.5);
          box-shadow: 0 2px 15px rgba(128, 119, 218, 0.5);
}

.header-logo {
  color: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo__img {
  width: 60px;
  height: 60px;
}

.header-logo__text {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__link:first-child {
  border-left: 0.5px solid rgba(0, 0, 0, 0.3);
}

.header-nav__link {
  position: relative;
  padding: 20px 35px;
  font-size: 17px;
  text-transform: uppercase;
  color: #111;
  border-right: 0.5px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.header-nav__link::after {
  content: '';
  position: absolute;
  height: 2.5px;
  z-index: 8;
  right: 0%;
  width: 100%;
  bottom: 0;
  background: #6f87f3;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header-nav__link:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header-nav__link:hover {
  color: #0097e6;
}

.header-button {
  padding: 10px;
  border: #6f87f3 solid;
  color: #111;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 5px;
}

.header-button:hover {
  background-color: #6f87f3;
  color: #fff;
}

.header-content {
  text-align: center;
  padding-top: 200px;
  color: #fff;
}

.header-content__title {
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  margin-bottom: 20px;
  letter-spacing: 3px;
}

.header-content__subtitle {
  color: #fff;
  max-width: 600px;
  margin: 0 auto;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 2em;
}

.profile-inner {
  background-color: #eee;
  margin-top: -50px;
}

.profile-info {
  padding: 50px;
  background-color: #fff;
}

.profile-info__title {
  border-left: solid #6f87f3;
  padding: 10px;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

.profile-info__subtitle {
  -webkit-box-shadow: 0 2px 15px rgba(128, 119, 218, 0.5);
          box-shadow: 0 2px 15px rgba(128, 119, 218, 0.5);
  border-radius: 5px;
  padding: 10px;
  max-width: 900px;
  line-height: 35px;
}

.profile-info__button {
  display: block;
  margin: 20px 0;
}

.skills-inner {
  background-color: #6f87f3;
  padding: 50px;
}

.skills__title {
  padding: 10px;
  color: #fff;
  border-left: solid rgba(255, 255, 255, 0.6);
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

.skills-slider {
  max-width: 90%;
  margin: 50px auto;
}

.card__info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card-box {
  position: relative;
  background-color: #fff;
  max-width: 250px;
  min-height: 300px;
  border-radius: 5px;
  padding: 15px;
  padding-left: 20px;
  cursor: pointer;
  text-align: cenetr;
}

.card-box:hover .card-layer {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card__img {
  margin: 10px auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 100%;
  height: 70px;
}

.card__title {
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

.card-layer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.card-layer span {
  font-size: 50px;
}

.card-percent {
  font-size: 50px;
  position: absolute;
}

.card-svg {
  width: 110px;
  height: 110px;
}

.card-svg__circle {
  fill: none;
  stroke-width: 5px;
  width: 50px;
  height: 50px;
}

.card-svg__circle:nth-child(2) {
  stroke-dasharray: 440;
  stroke-dashoffset: 360;
  stroke: green;
}
/*# sourceMappingURL=style.css.map */