.container {
  max-width: 1170px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: normal;
  background-color: #273c75;
}

body.modal-open {
  overflow: hidden;
}

a {
  text-decoration: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

p {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

.button-o {
  background-color: #fff;
  padding: 10px;
  border: #3498db solid;
  color: #111;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 5px;
  cursor: pointer;
}

.button-o:hover {
  background-color: #3498db;
  color: #fff;
}

.bg-fixed {
  position: fixed;
  z-index: -2;
  background: linear-gradient(95deg, rgba(0, 0, 0, 0.7) 30%, rgba(39, 60, 117, 0.01) 100%), url(../images/bg-fixed.jpg) no-repeat center/cover;
  height: 100vh;
  width: 100%;
}

.title {
  padding: 10px;
  color: #fff;
  border-left: solid rgba(255, 255, 255, 0.6);
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

.backToTop {
  position: fixed;
  z-index: 6;
  right: 5%;
  bottom: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  -webkit-box-shadow: 0 3px 15px black;
          box-shadow: 0 3px 15px black;
  color: #fff;
  background-color: #3498db;
  font-size: 25px;
  border-radius: 50px;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.backToTop.active {
  opacity: 1;
  pointer-events: auto;
}

.header, .headerMob {
  height: 100vh;
}

.header-wrapper, .headerMob-wrapper {
  position: fixed;
  z-index: 12;
  top: 0;
  width: 100%;
}

.header-navbar, .headerMob-navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f6fa;
  padding: 0 15px;
  -webkit-box-shadow: 0 2px 15px rgba(128, 119, 218, 0.5);
          box-shadow: 0 2px 15px rgba(128, 119, 218, 0.5);
}

.header-logo, .headerMob-logo {
  color: #111;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-logo__img, .headerMob-logo__img {
  width: 60px;
  height: 60px;
}

.header-logo__text, .headerMob-logo__text {
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

.header-nav, .headerMob-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-nav__link:first-child, .headerMob-nav__link:first-child {
  border-left: 0.5px solid rgba(0, 0, 0, 0.3);
}

.header-nav__link, .headerMob-nav__link {
  position: relative;
  padding: 20px 35px;
  font-size: 17px;
  text-transform: uppercase;
  color: #111;
  border-right: 0.5px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}

.header-nav__link::after, .headerMob-nav__link::after {
  content: '';
  position: absolute;
  height: 2.5px;
  z-index: 8;
  right: 0%;
  width: 100%;
  bottom: 0;
  background: #3498db;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.header-nav__link:hover:after, .headerMob-nav__link:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.header-nav__link:hover, .headerMob-nav__link:hover {
  color: #0097e6;
}

.header-button, .headerMob-button {
  padding: 10px;
  border: #3498db solid;
  color: #111;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 5px;
}

.header-button:hover, .headerMob-button:hover {
  background-color: #3498db;
  color: #fff;
}

.header-content, .headerMob-content {
  text-align: center;
  padding-top: 200px;
  color: #fff;
}

.header-content__title, .headerMob-content__title {
  font-size: 32px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  margin-bottom: 20px;
  letter-spacing: 3px;
}

.header-content__subtitle, .headerMob-content__subtitle {
  color: #fff;
  max-width: 600px;
  margin: 0 auto;
  font-size: 16px;
  letter-spacing: 2px;
  line-height: 2em;
}

.headerMob-navbar {
  display: none;
}

.headerMob-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transform: scaleX(0) translateX(50px);
          transform: scaleX(0) translateX(50px);
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 9;
}

.headerMob-nav__link {
  border-right: none;
  color: #fff;
  width: 100%;
  text-align: center;
}

.headerMob-nav__link:first-child {
  border-left: none;
}

.headerMob-nav.active {
  -webkit-transform: scaleX(1) translateX(0px);
          transform: scaleX(1) translateX(0px);
}

.headerMob-wrapper-burger {
  cursor: pointer;
}

.headerMob-burger {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 3px;
  border-radius: 50px;
  background-color: #000;
  cursor: pointer;
  z-index: 10;
}

.headerMob-burger::after, .headerMob-burger::before {
  content: '';
  position: absolute;
  display: inline-block;
  width: 25px;
  height: 3px;
  border-radius: 50px;
  background-color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.headerMob-burger::after {
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

.headerMob-burger::before {
  -webkit-transform: translateY(-7px);
          transform: translateY(-7px);
}

.headerMob-burger.active {
  background-color: transparent;
}

.headerMob-burger.active::after {
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.headerMob-burger.active::before {
  background-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

@media screen and (max-width: 924px) {
  .header-navbar {
    display: none;
  }
  .headerMob-navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.profile-inner {
  background-color: #eee;
  margin-top: -50px;
}

.profile-info {
  padding: 50px;
  background-color: #fff;
}

.profile-info__title {
  border-left: solid #3498db;
  padding: 10px;
  font-size: 30px;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

.profile-info__subtitle {
  -webkit-box-shadow: 0 2px 15px rgba(128, 119, 218, 0.5);
          box-shadow: 0 2px 15px rgba(128, 119, 218, 0.5);
  border-radius: 5px;
  padding: 10px;
  max-width: 900px;
  line-height: 35px;
}

.profile-info__button {
  display: block;
  margin: 20px 0;
}

@media screen and (max-width: 800px) {
  .profile-info {
    padding: 20px;
    background-color: #fff;
  }
}

.skills-inner {
  background-color: #3498db;
  padding: 50px;
}

.skills__title {
  padding: 10px;
  color: #fff;
  border-left: solid rgba(255, 255, 255, 0.6);
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

.skills-slider {
  position: relative;
  max-width: 90%;
  margin: 50px auto;
}

.slide-arrow {
  position: absolute;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  color: #fff;
  font-size: 70px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.slide-arrow__right {
  right: 0;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
  margin-right: -10px;
}

.slide-arrow__left {
  -webkit-transform: translate(-100%, -50%);
          transform: translate(-100%, -50%);
  left: 0;
  margin-left: -10px;
}

.card__info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.card-box {
  position: relative;
  background-color: #fff;
  max-width: 250px;
  min-height: 300px;
  border-radius: 5px;
  padding: 15px;
  padding-left: 20px;
  cursor: pointer;
  text-align: cenetr;
}

.card-box:hover .card-layer {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.card__img {
  margin: 10px auto;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  max-width: 100%;
  height: 70px;
}

.card__title {
  font-size: 30px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

.card-layer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.card-percent {
  position: relative;
}

.card-percent-text {
  font-size: 50px;
  position: absolute;
}

.card-percent-text__symbol {
  position: absolute;
  font-size: 20px;
  right: 0;
  bottom: 50%;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.card-svg {
  position: relative;
  width: 130px;
  height: 130px;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.card-svg__circle {
  position: relative;
  fill: none;
  stroke-width: 5px;
  stroke: green;
  width: 50px;
  height: 50px;
  stroke-dasharray: 376.99111843077515;
  stroke-dashoffset: 376.99111843077515;
  -webkit-transition: stroke-dashoffset 2.5s ease;
  transition: stroke-dashoffset 2.5s ease;
}

.slick-slide {
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .slick-slide {
    margin-right: 10px;
  }
}

@media screen and (max-width: 800px) {
  .skills-inner {
    padding: 5px;
  }
  .slide-arrow {
    display: none !important;
  }
  .card__title {
    font-size: 25px;
  }
}

.feedback-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feedback-left {
  background-color: #3498db;
  padding: 50px;
  width: 50%;
}

.feedback__title {
  margin-bottom: 30px;
}

.feedback__subtitle {
  line-height: 25px;
  color: rgba(255, 255, 255, 0.6);
}

.feedback-right {
  padding: 50px;
  background: rgba(18, 18, 48, 0.6);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.feedback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: center;
      align-self: center;
}

.feedback__form input, .feedback__form textarea {
  background-color: transparent;
  color: #fff;
  border: none;
  border: 1px solid #fff;
  padding: 17px;
  margin-bottom: 15px;
}

.feedback__form input:focus, .feedback__form textarea:focus {
  border: 1px solid #97b4e1;
}

.feedback__form input::-webkit-input-placeholder, .feedback__form textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.feedback__form input:-ms-input-placeholder, .feedback__form textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.feedback__form input::-ms-input-placeholder, .feedback__form textarea::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.feedback__form input::placeholder, .feedback__form textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.feedback__button {
  margin-top: 10px;
  background-color: transparent;
  color: #ffffff;
}

@media screen and (max-width: 800px) {
  .feedback-left {
    width: 100%;
  }
  .feedback-right {
    padding: 35px;
  }
}

@media screen and (max-width: 400px) {
  .feedback-left {
    width: 100%;
  }
  .feedback-right {
    padding: 5px;
  }
}

.portfolio {
  background-color: #fff;
  height: 50vh;
}

.about-me-left, .about-me-right {
  position: fixed;
  left: 0;
  width: 100%;
  height: 50vh;
  background-color: #3498db;
  z-index: 7;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.about-me-info {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  padding-top: 100px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: auto;
  z-index: 8;
}

.about-me-info__desc {
  padding: 10px;
  max-width: 700px;
  margin: 20px auto;
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}

.about-me-info__desc.active {
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.about-me-info__img {
  opacity: 0;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  -webkit-box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 15px rgba(0, 0, 0, 0.5);
}

.about-me-info__img.active {
  opacity: 1;
}

.about-me-info__subtitle {
  margin-top: 50px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  line-height: 25px;
}

.about-me-left {
  top: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  opacity: 0;
}

.about-me-right {
  bottom: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.about-me__button {
  position: absolute;
  right: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  font-size: 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.about-me__button:hover {
  border: 2px solid #000;
}

.about-me-info.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-me-left.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.about-me-right.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.contacts__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px 0;
  background-color: #fff;
  text-align: center;
}

.contacts-title {
  font-size: 26px;
}

.contacts-subtitle {
  color: rgba(0, 0, 0, 0.6);
  margin-bottom: 10px;
}

.contacts-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 2px solid #3498db;
  margin: 20px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-size: 30px;
  color: #000;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

.contacts__item:nth-child(1):hover {
  border: #597da3;
  background-color: #597da3;
  color: #fff;
}

.contacts__item:nth-child(2):hover {
  border: #000;
  background-color: #000;
  color: #fff;
}
/*# sourceMappingURL=style.css.map */