// SETTINGS
*
    box-sizing: border-box
    
body
    +normal
    background-color: rgb(39, 60, 117)
a
    text-decoration: none
    padding: 0
    margin: 0
p
    padding: 0
    margin: 0
h1,h2,h3,h4,h5,h6
    padding: 0
    margin: 0


.button-o
    background-color: #fff
    padding: 10px
    border: $primary solid
    color: $text-color
    transition: 0.4s
    border-radius: 5px
    cursor: pointer
    &:hover
        background-color: $primary
        color: #fff
.bg-fixed
    position: fixed
    z-index: -2
    background: linear-gradient(95deg, rgba(0, 0, 0,0.7) 30%, rgba(39, 60, 117,0.01) 100%), url(../images/bg-fixed.jpg) no-repeat center / cover
    height: 100vh
    width: 100%

.title
    padding: 10px
    color: #fff
    border-left: solid rgba(255,255 ,255 ,0.6)
    font-size: 30px
    +bold
.backToTop
    position: fixed
    z-index: 6
    right: 5%
    bottom: 5%
    display: flex
    justify-content: center
    align-items: center
    width: 50px
    height: 50px
    box-shadow: 0 3px 15px rgb(0, 0, 0,)
    color: #fff
    background-color: $primary
    font-size: 25px
    border-radius: 50px
    pointer-events: none
    opacity: 0
    transition: 0.3s
.backToTop.active
    opacity: 1
    pointer-events: auto